<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/register.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/logo.svg" />
    <title>Cloak & Dagger</title>
</head>
<body>
    <section>
        <form action="/registerResponse" method="post" id = "post">
            <div class="login-container" id = "topId">
                <h2>Enter your email</h2>
                <div class="">
                    <img src="/assets/img/email.svg" alt="email logo" class="login-insideImage">
                    <input type="email" name="email" id="email" placeholder="exemple@gmail.com">
                </div>
            </div>
            {{if .IsError}}
                <p class="register-Error-on" id = emailError>{{.ErrorMSG}}</p>
            {{else}}
                <p class="register-Error-off" id = emailError></p>
            {{end}}
            
            <div class="login-container">
                <h2>Choose a password</h2>
                <div class="">
                    <img src="/assets/img/password.svg" alt="psw logo" class="login-insideImage">
                    <input type="password" name="psw" id="psw1" placeholder="********">
                    <img src="/assets/img/eye_on.svg" alt="" id = "eye1" class="login-eye">
                </div>
            </div>
            <div class="login-container">
                <h2>Confirm your password</h2>
                <div class="">
                    <img src="/assets/img/password.svg" alt="psw logo" class="login-insideImage">
                    <input type="password" id="psw2" placeholder="********">
                    <img src="/assets/img/eye_on.svg" alt="" id = "eye2" class="login-eye">
                </div>
            </div>
            <p class="register-Error-off" id = pswError></p>
            <div class="login-container">
                <h2>Choose a username</h2>
                <div class="">
                    <img src="/assets/img/user.svg" alt="psw logo" class="login-insideImage">
                    <input type="text" name="pseudo" id="pseudo" placeholder="xx-intercalaire-xx">
                </div>
            </div>
            {{if .IsError2}}
            <p class="register-Error-on" id = pseudoError>{{.ErrorMSG}}</p>
            {{else}}
            <p class="register-Error-off" id = pseudoError></p>
            {{end}}
            
            <input type="date" id = "date" class="register-date" name = "date"/>
            <p class="register-Error-off" id = dateError></p>
            </form>
            <button class="button1" id = "RegisterButton"> Create a account </button>
    </section>
    
</body>
<script src = "/assets/js/Components/Register.js" type="module"></script>
</html>