<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/infoFile.css">
    <link rel="icon" href="/assets/img/logo.svg" />
    <title>Cloak & Dagger</title>
</head>
<body>
    <section>
        <div class="Posts">
            <div class="post">
                <div class="top-post">
                    <img src="https://picsum.photos/200/300" alt="">
                    <p>{{.USERNAME}}</p>
                </div>
                <form action="/createPost" method="post" id='post'>
                    <input id = "content" name = "content" style="display: none;"></input>
                    <input id = "username" name = "authorid" style="display: none;" value = {{.IdUser}}></input>
                    <input id = "date" name = "date" style="display: none;"></input>
                </form>
                <input type="area" placeholder="What's on your mind?" class="body-post" id = "area">
            </div>
            {{range .PostLine}}
            <div class="post">
                <div class="top-post">
                    <img src="https://picsum.photos/200/300" alt="">
                    <p>{{.Username}}</p>
                </div>
                <div class="body-post">{{.Content}}</div>
                <div class="bottom-post">
                    <form action="/likes" method="post">
                        <button style="background: none; border: none;">
                            {{if .IsLike}}
                            <img src="/assets/img/like.svg" alt="likes" class="likes">
                            <input type="text" name="id-post" style="display: none;" value="{{.Id_post}}">
                            {{else}}
                            <img src="/assets/img/like-placeholder.svg" alt="likes" class="likes">
                            <input type="text" name="id-post" style="display: none;" value="{{.Id_post}}">
                            {{end}}
                        </button>
                    </form>
                    
                    
                    <p>{{.Likes}}</p>
                </div>
            </div>
            {{end}}
        </div> 
    </section>  
</body>
<script src="/assets/js/Components/info.js" defer></script>
</html>